.navBarContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-height: 1.2rem;
    max-width: 20rem;
}

a.link {
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

}